<!DOCTYPE html>
<html>
<body>
<div>
<h1>The video poster attribute</h1>
<video style="width: 100%" width="" height="auto" poster="/images/w3schools_green.jpg" controls>
   <source src="movie.mp4" type="video/mp4">
   <source src="movie.ogg" type="video/ogg">
   Your browser does not support the video tag.
</video>
</div>
</body>
</html>